.accompagnements {
    padding-top: 50px;
    position: relative;
    @include min($lg) {
        padding-top: 100px;
    }
    &__blocs-wrapper {
        position: relative;
        margin-top: 150px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include min($lg) {
            margin-top: 95px;
        }
        &--bloc-h2 {
            background-color: $color-005;
            max-width: 510px;
            text-align: center;
            padding: 20px;
            position: absolute;
            bottom: 95%;
            left: 0;
            right: 0;
            margin: 0 auto;
            @include min($lg) {
                left: 32%;
                right: auto;
                margin: 0;
                bottom: 85%;
            }
            &::after {
                content: '';
                display: none;
                @include min($lg) {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 3px solid $color-009;
                    bottom: 10%;
                    left: 2%;
                    z-index: -1;
                }
            }
        }
        &--text {
            background-color: $color-006;
            padding: 110px 20px 80px;

            @include min($lg) {
                max-width: 60%;
                padding: 110px 60px 80px;
            }
            @include min($xxl) {
                max-width: 40%;
            }
            ul {
                padding-left: 0;
            }
            li {
                font-size: $font-md;
                color: $color-003;
                font-family: $font-001;
                &::before {
                    content: url('../../images/arrow.svg');
                    margin-right: 5px;
                }
            }
            p {
                margin-top: 25px;
                color: $color-003;
                font-size: $font-md;
                text-align: center;
            }
        }
        &--warning {
            background-color: $color-008;
            padding: 30px;
            width: 585px;
            max-width: 90%;
            height: fit-content;
            height: -moz-fit-content;
            text-align: center;
            right: 0;
            bottom: 150px;
            position: absolute;
            @include min($lg) {
                padding: 30px 130px 30px 0;
            }
            &::before {
                @include min($lg) {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-bottom: 98px solid $color-008;
                    border-left: 77px solid transparent;
                    position: absolute;
                    right: 100%;
                    top: 0;
                }

                @include min($xxl) {
                    border-bottom: 135px solid $color-008;
                    border-left: 77px solid transparent;
                }
            }

            p {
                display: inline;
                max-width: 80%;
            }
            i {
                color: $color-001;
            }
        }
    }
    .container > img {
        margin: 0 auto;
        width: 300px;
        display: block;
        margin-top: 200px;
        @include min($sm) {
            width: 350px;
        }
        @include min($xxl) {
            margin-top: 280px;
        }
    }
}

.details-seances {
    background-color: $color-006;
    padding: 160px 0 100px 0;
    margin-top: 20px;
    &__bg {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include min($xxl) {
            flex-direction: row;
            align-items: stretch;
        }
        > img {
            display: none;
            @include min($lg) {
                display: block;
                width: 411px;
                bottom: 90%;
                right: 70%;
                z-index: 999;
                position: absolute;
            }
            @include min($xxl) {
                bottom: 80%;
                right: 90%;
            }
            @include min($xxxl) {
                right: 80%;
            }
        }
    }
    &__left-column {
        background-color: $color-005;
        width: 90%;
        min-width: 35%;
        padding: 75px 20px;
        position: relative;
        @include min($lg) {
            width: 600px;
            height: 500px;
            padding: 75px 60px 0 60px;
        }
        @include min($xxl) {
            height: auto;
        }
        @include min($xxxl) {
            padding: 75px 0 0 60px;
        }
        &::after {
            display: none;
            @include min($xxxl) {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 658px solid $color-005;
                border-right: 100px solid transparent;
                position: absolute;
                left: 99.9%;
                top: 0;
            }
        }
        h3 {
            left: 15%;
            text-align: center;
            @include min($xxxl) {
                left: 27%;
            }
        }
        h4 {
            margin-bottom: 30px;
        }
        p {
            font-size: $font-md;
        }
        &--tarifs {
            background-color: $color-008;
            padding: 20px;
            margin-top: 50px;
            left: -5%;
            bottom: 5%;
            width: 80%;
            box-shadow: -5px 5px 5px rgba($color: $color-002, $alpha: 0.2);
            @include min($sm) {
                padding: 20px 60px 40px;
            }
            @include min($lg) {
                position: absolute;
                margin-top: 0;
            }
            h5 {
                margin-bottom: 20px;
            }
        }
    }
    &__right-column {
        background-color: $color-010;
        width: 90%;
        min-width: 30%;
        padding: 75px 20px;
        position: relative;
        margin: 100px 0 0 0;
        @include min($lg) {
            width: 600px;
            padding: 75px 75px 240px 75px;
            margin: 100px 0 0 5%;
        }
        @include min($xxl) {
            margin-top: 0;
        }
        @include min($xxxl) {
            margin: 0 0 0 -7%;
            padding: 75px 75px 240px 0;
        }
        &::after {
            display: none;
            @include min($xxxl) {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-bottom: 658px solid $color-010;
                border-left: 100px solid transparent;
                position: absolute;
                right: 99.9%;
                top: 0;
            }
        }
        h3 {
            right: 5%;
            text-align: center;
            @include min($md) {
                right: 26%;
            }
            @include min($xxl) {
                right: 27%;
            }
        }
        h4 {
            margin-bottom: 10px;
            text-align: end;
            &:last-of-type {
                margin-top: 10px;
            }
        }
        p {
            font-size: $font-md;
            text-align: end;
        }
        &--tarifs {
            background-color: $color-008;
            padding: 20px;
            margin-top: 50px;
            right: -5%;
            width: 80%;
            bottom: 5%;
            box-shadow: 5px 5px 5px rgba($color: $color-002, $alpha: 0.2);
            text-align: end;
            @include min($sm) {
                padding: 20px 60px 40px;
            }
            @include min($lg) {
                margin-top: 0;
                position: absolute;
            }
            h5 {
                margin-bottom: 20px;
            }
            p {
                max-width: 100%;
            }
        }
    }
    h3 {
        margin: -140px 0 50px 0;
        @include min($sm) {
            margin: -100px 0 50px 0;
        }
        @include min($lg) {
            margin: 0;
            position: absolute;
            bottom: 96%;
        }
    }
}

.forfaits {
    &__bandeau {
        max-width: 100%;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-005;
        position: relative;
        @include min($lg) {
            display: block;
            height: 50px;
        }
        &::before {
            @include min($lg) {
                content: '';
                position: absolute;
                height: 0;
                width: 600px;
                border-top: 100px solid $color-005;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                z-index: -1;
                top: -20%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        h2 {
            @include min($lg) {
                top: 30%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .container {
        margin-top: 100px;
        .text-link-wrapper {
            text-align: center;
            max-width: fit-content;
            max-width: -moz-fit-content;
            margin: 0 auto;
            p {
                font-size: $font-lg;
                color: $color-003;
                font-style: italic;
            }
            a {
                font-size: $font-lg;
                color: $color-003;
                font-style: italic;
                font-family: $font-001;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            color: $color-003;
            font-size: $font-lg;
        }
    }
    &__details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 100px auto;
        max-width: 100%;
        @include min($lg) {
            flex-direction: row;
        }
        @include min($xxxl) {
            max-width: 70%;
        }
        &--unite {
            cursor: pointer;
            padding: 40px 30px 150px;
            box-shadow: 5px 5px 5px rgba($color: $color-002, $alpha: 0.2);
            display: flex;
            flex-direction: column;
            position: relative;
            width: 200px;
            height: 110px;
            transition: 0.4s;
            margin-bottom: 50px;
            background-color: $color-001;
            @include min($lg) {
                margin-bottom: 0;
            }
            &::after {
                @include min($sm) {
                    content: url('../../images/leafs-hover.svg');
                    position: absolute;
                    bottom: 88%;
                    left: 88%;
                    opacity: 0;
                    transition: 0.4s;
                    z-index: -1;
                }
            }
            &:hover {
                box-shadow: 5px 5px 5px rgba($color: $color-002, $alpha: 0.5);
                &::after {
                    opacity: 1;
                }
            }
            h6 {
                text-align: center;
            }
        }
        .details-text {
            font-size: $font-md;
            color: $color-003;
            text-align: center;
            margin-top: 30px;
        }
        .tarif {
            background-image: url('../../images/details-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-002;
            font-size: $font-xxl;
        }
    }
}

.presentiel {
    background-color: $color-006;
    margin-top: 250px;
    padding: 30px 0 100px 0;
    position: relative;
    @include min($lg) {
        padding: 240px 0 160px 0;
    }
    &::before {
        content: '';
        background-image: url('../../images/essaie-fond.png');
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 210px;
        bottom: 100%;
        left: 0;
        transform: rotate(180deg);
        background-repeat: no-repeat;
        background-position-y: -50px;
    }
    .container {
        position: relative;
    }
    &__img-wrapper {
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto;
        z-index: 1;
        @include min($lg) {
            position: absolute;
            margin: 0;
            top: -150px;
            right: 47%;
        }
        @include min($xl) {
            right: 41.5%;
        }
        @include min($xxl) {
            right: 44%;
        }
        @include min($xxxl) {
            right: 48%;
        }
        .img {
            position: relative;
            width: 100%;
            &::before {
                display: none;
                @include min($lg) {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    border: 3px solid $color-007;
                    bottom: 13%;
                    right: 12%;
                    z-index: -1;
                }
            }
            img {
                width: 100%;
                @include min($lg) {
                    width: 500px;
                }
                @include min($xl) {
                    width: 674px;
                }
            }
        }
    }
    &__text-wrapper {
        background-color: $color-005;
        padding: 45px 40px;
        position: relative;
        z-index: 2;
        @include min($lg) {
            margin-left: 30%;
            max-width: 60%;
            padding: 45px 80px;
        }
        @include min($xl) {
            max-width: 40%;
            margin-left: 40%;
        }
        .h1-bis {
            @extend h1;
            position: absolute;
            bottom: 100%;
            font-weight: 600;
        }
        &--buttons-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 100%;
            margin-top: 20px;
            color: $color-001;
            font-size: $font-lg;
            font-family: $font-001;
            flex-direction: column;
            @include min($lg) {
                flex-direction: row;
                margin-top: 50px;
            }
            span {
                font-size: $font-md;
                @include min($xxl) {
                    font-size: $font-lg;
                }
            }
        }
    }
}
