nav {
    background-color: $color-004;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        ul {
            display: flex;
            li {
                margin-left: 50px;
            }
            a {
                color: $color-005;
                font-size: 21px;
                font-family: $font-001;
            }
        }
    }
}
